

    
<!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->

 
 

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Domus 2.0</title>
    <link rel="icon" href="images/domus-modified.png">
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap" rel="stylesheet">
</head>
<body>
    <div class="contenedor">
        <div class="contenedor-logo">
            <img src="/images/domus.jpg" alt="Logo - Domus" class="logo">
        </div>
        <div class="contenedor-login">
            <h2>
                Iniciar Sesión
            </h2>
            <form id="form-login">
                <input type="text" placeholder="Usuario" id="usuario" autocomplete="off" required>
                <input type="password" placeholder="Contraseña" required >
                <button type="submit" id="boton" onclick="window.location.href='administradorSitioMenu'">Ingresar</button>
            </form>
            <a href="">¿Olvidaste tu contraseña?</a>
        </div>


    </div>
    

</body>


</html>